
.container {
    padding: 0 12%;
    margin: 0 auto;
}
.main-bg {
    background: #000;
}

.header-img-dota2 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    right: 43.7%;
    z-index: 3;
}

.landpage-top-img {
    width: 100%;
    height: 52rem;
    margin-top: -1rem;
}

.landpage-top-heading {
    color: #ff6e42;
    font-size: 5rem;
    text-shadow: 0 0rem 0.2rem #000;
}
.landpage-heading-dota {
    position: absolute;
    top: 28rem;
    left: 20rem;
    font-family: blackOps !important;
}
.landpage-heading-siren {
    position: absolute;
    top: 28rem;
    right: 20rem;
    font-family: blackOps !important;
}

.landpage-top-shadow {
    color: #ffa489;
    font-size: 5rem;
    text-shadow: 0 0.2rem 0.1rem #000;
}
.landpage-shadow-dota {
    position: absolute;
    top: 31.2rem;
    left: 20rem;
    font-family: blackOps !important;
    transform: rotateX(180deg);
    opacity: 50%;
}
.landpage-shadow-siren {
    position: absolute;
    top: 31.2rem;
    right: 20rem;
    font-family: blackOps !important;
    transform: rotateX(180deg);
    opacity: 50%;
}


/* landpage content main */
.landpage-content-main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: -14rem;
    margin-right: 7%;
}
.landpage-content-main img {
    width: 22rem;
    height: 35rem;
    border-radius: 20rem;
}
.landpage-content-main div h3 {
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
}
.landpage-tournaments-btn {
    display: block;
    margin: auto;
    padding: 0.62rem;
    width: 12.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 0 0 0.3rem #fff;
    border: 2px solid #470000;
    border-radius: 15px;
    background: radial-gradient(#ffaaaa, #ff7777, #ff5d5d, #ca0000, #470000);
    margin-top: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.landpage-tournaments-btn:hover {
    animation: tournaments-btn-anim 0.3s;
    color: #fff;
    box-shadow: 0 0.6rem 0.9rem #ca0000;
    text-shadow: 0 0 3px #000;
    border-color: #ffa5a5;
}

.landpage-border {
    width: 90%;
    height: 3.1rem;
    display: block;
    border-radius: 50px;
    margin: 20px auto;
}

/* invoker game area */
.landpage-invoker-game {
    width: 86%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-right: 7%;
}
.landpage-invoker-game button {
    width: 10rem;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.7rem;
    background: linear-gradient(to right, #11a0ff, #ff63f2, #ff1414);
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 0 0 0.2rem #fff;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}
.landpage-invoker-game button:hover {
    box-shadow: 0 0.5rem 0.7rem #c711ff;
    border-color: #fff;
    color: #fff;
    font-weight: lighter;
    text-shadow: 0 0 0.2rem #000;
    transform: translateY(-0.1rem);
}
.landpage-invoker-leaderboard {
    list-style: none;
    padding: 0;
    direction: ltr;
}
.landpage-invoker-leaderboard li {
    padding: 1rem;
    margin: 0.2rem 0;
    background: linear-gradient(to left, #960000, #700041, #004d80);
    border-bottom: 1px solid #97a100;
    border-left: 1px solid #97a100;
    direction: ltr;
    color: #fff;
    text-shadow: 0 0 0.2rem #000;
    border-radius: 0.4rem;
}
.landpage-invoker-title {
    position: relative;
    place-self: start !important;
}
.landpage-invoker-title-bg {
    position: absolute;
    width: 20rem !important;
    height: 6rem !important;
    right: 0;
    top: 0;
}
.landpage-invoker-title h2 {
    position: absolute;
    top: 2.2rem;
    right: 4rem;
    color: #000;
    text-shadow: 0 0.5rem 0.4rem #5a5a5a;
    font-family: blackOps;
    width: 12rem !important;
}
.landpage-invoker-game h3 {
    color: #fff;
    align-self: end !important;
}
.landpage-invoker-icon-area {
    position: relative;
}
.landpage-invoker-icon {
    width: 25rem;
    height: 25rem;
}
.landpage-invoker-quas {
    position: absolute;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50%;
    right: 4rem;
    top: 3rem;
    box-shadow: 0 0 0.3rem #31acff;
}
.landpage-invoker-wex {
    position: absolute;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50%;
    right: 15rem;
    top: 2rem;
    box-shadow: 0 0 0.3rem #ff35ee;
}
.landpage-invoker-exort {
    position: absolute;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50%;
    right: 10rem;
    top: 13rem;
    box-shadow: 0 0 0.3rem #ffa837;
}


.landpage-services-bg {
    background: url('/photo/images/service-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}
/* landpage content services */
.landpage-content-services {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    padding-right: 3%;
    margin-right: 10%;
}
.services-list {
    list-style: none;
    color: #fff;
    padding: 0;
}
.services-list li {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0.2rem;
    margin: 0.6rem 0;
    font-size: 0.95rem;
    color: #e4e4e4;
    text-shadow: 0 0 0.1rem #000;
    align-items: center;
    opacity: 70%;
    cursor: pointer;
}
.services-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.3rem;
}
.service-list-img img {
    width: 86%;
    height: 29.8rem;
    margin-top: 0.5rem;
    border: 3px solid #ffc2c2;
    border-radius: 0.3rem;
    box-shadow: 0.4rem 0.2rem 0.5rem #3f2d2d;
    opacity: 90%;
}
.service-item-active {
    background: url('/photo/backgrounds/services-bg.png') !important;
    border-right: 2px solid #ffb7b7;
    border-bottom: 3px solid #ffb7b7;
    border-top: 1px solid #ffb7b7;
    color: #0dfcac !important;
    text-shadow: 0 0 0.2rem #000;
    height: 6rem;
    box-sizing: border-box;
    opacity: 100% !important;
    transition: ease-in-out 0.8s;
    animation: services-list-anim 0.8s linear forwards;
}
.service-item-active img {
    width: 4.37rem !important;
    height: 4.37rem !important;
    animation: services-icon-anim 0.8s linear forwards;
}
.service-item-active p {
    margin: 0.62rem !important;
}


.invoker-quas-anim {
    animation: invoker-quas-anim 1.5s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
    transform-origin: -6rem 7rem;
}
.invoker-wex-anim {
    animation: invoker-quas-anim 1.5s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
    transform-origin: 7rem 8rem;
}
.invoker-exort-anim {
    animation: invoker-quas-anim 1.5s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
    transform-origin: 2rem -6rem;
}

/* animations */
@keyframes tournaments-btn-anim {
    0% {
        background: radial-gradient(#470000, #ffaaaa, #ff7777, #ff5d5d, #ca0000);
        color: #fff;
    }
    25% {
        background: radial-gradient(#ca0000, #470000, #ffaaaa, #ff7777, #ff5d5d);
        color: #fff;
    }
    50% {
        background: radial-gradient(#ff5d5d, #ca0000, #470000, #ffaaaa, #ff7777);
        color: #fff;
    }
    75% {
        background: radial-gradient(#ff7777, #ff5d5d, #ca0000, #470000, #ffaaaa);
        color: #fff;
    }
    100% {
        background: radial-gradient(#ffaaaa, #ff7777, #ff5d5d, #ca0000, #470000);
        color: #fff;
    }
}

@keyframes services-list-anim {
    0% {
        width: 70%;
    }
    75% {
        width: 80%;
        font-size: 1.2rem;
        box-shadow: 0 0.5rem 0.5rem #3f2d2d;
        border-top-right-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
    }
    100% {
        width: 98%;
        font-size: 1.2rem;
        box-shadow: 0.7rem 0.5rem 0.5rem #3f2d2d;
        padding-right: 2.5rem;
        margin-right: 2%;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
}

@keyframes services-icon-anim {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

@keyframes invoker-quas-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes invoker-wex-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes invoker-exort-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}