.profile-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 4rem;
    place-items: center;
    background: url('/photo/backgrounds/io-profile-bg.jpg');
    padding: 2rem 0;
}

.profile-main-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}
.profile-main-info h2 {
    color: #ffffffdc;
    text-shadow: 0 0 0.2rem #000;
    place-self: center;
}
.profile-main-info img {
    width: 6rem;
    height: 6rem;
    border-radius: 0.2rem;
}
.profile-rank {
    position: relative;
}
.profile-rank img {
    position: absolute;
    width: 6rem;
    height: 6rem;
}

.profile-username {
    color: #ffffffdc;
    text-shadow: 0 0 0.2rem #000;
}

.profile-role {
    color: #fff;
    align-self: start;
}
.profile-role div {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5rem;
    place-items: center;
    margin: 0.5rem 0;
}
.profile-role div span {
    font-family: dota2font !important;
    letter-spacing: 0.09rem;
}
.profile-role div img {
    width: 2rem;
    height: 2rem;
}

/* signature heros */
.profile-signature-hero {
    align-self: start;
    display: grid;
    grid-template-areas: 'title title title' 'hero1 hero2 hero3';
    color: #fff;
    align-self: start;
    grid-row-gap: 1rem;
    grid-column-gap: 4rem;
}
.profile-signature-title {
    grid-area: title;
}
.profile-signature-hero1 {
    grid-area: hero1;
}
.profile-signature-hero2 {
    grid-area: hero2;
}
.profile-signature-hero3 {
    grid-area: hero3;
}
.profile-signature-hero div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 0.5rem;
}
.profile-signature-hero div span {
    color: #dfffff !important;
    text-shadow: 0 0 0.2rem #000 !important;
    font-weight: bold !important;
    font-family: dota2font !important;
}
.profile-signature-hero div img {
    width: 6rem;
    height: 5rem;
    border: 1px solid #fff;
    border-radius: 0.4rem;
}